.navbar a.active {
  color: green !important;
  background-color: #e5e7eb04 !important;


}
.navbar .mybtn:hover {
  color: green !important;
  background-color: #e5e7eb04 !important;
 
}

.shadow-roaming {
  position: absolute;
}

